</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by Harshil Sodani</p>

  <a class="footer-link footer-icons" href="https://www.linkedin.com/in/harshil-sodani"><i
      class="fa-brands fa-linkedin-in"></i></a>
  <a class="footer-link footer-icons" href="https://github.com/harshilsodani"><i class="fa-brands fa-github"></i></a>

</div>
</div>


</body>

</html>