<%- include('partials/header'); %>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label>Title</label>
    <input
      type="text"
      name="postTitle"
      class="form-control"
      placeholder="Title"
    />

    <label>Post</label>
    <textarea
      name="postBody"
      cols="30"
      rows="8"
      class="form-control"
      placeholder="Content"
    ></textarea>

    <label>Author</label>
    <input
      type="'text"
      name="authorTitle"
      class="form-control"
      placeholder="Author"
    />

    <label>Password</label>
    <input
      type="text"
      name="passwordBody"
      class="form-control"
      placeholder="Password"
    />
  </div>

  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>

<%- include('partials/footer'); %>
